[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
lxml = "*"
zeep = "*"
spyne = "*"
six = "*"
graphqlclient = "*"
django-cors-headers = "*"
djangorestframework = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
